// Импорт темы ДО конфигурации
@import "gruvbox-dark"

configuration {
    // Убрал дублирование modi, оставил с power режимом
    modi: "drun,run,window,power:~/.config/rofi/scripts/power.sh";
    
    show-icons: true;
    display-drun: "  Apps:";
    drun-display-format: "{icon} {name}";
    terminal: "kitty";
    font: "JetBrains Mono 12";
    lines: 10;
    columns: 1;
    cycle: true;
    sorting-method: fzf;
    matching: fuzzy;
    hover-select: true;
}